    <footer class="container-fluid bg-light text-center fixed-bottom">
        <div class="row">
            <section class="col">
                   <p>COL - 1</p>
                   <p>FOOTER</p>
            </section>
            <section class="col">
                    <p>COL - 2</p>
                    <p>FOOTER</p>
            </section>
            <section class="col">
                    <p>COL - 3</p>
                    <p>FOOTER</p>
            </section>
        </div>
    </footer>