{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

<section class="container">
    <div class="row">
        <div class="col-6">
            <p>Nom: {{ user.LastName }}</p>
            <p>Prénom: {{ user.firstName }}</p>

        </div>
    </div>
</section>
{% endblock %}
