{% extends 'base.html.twig' %}

{% block title %}404{% endblock %}

{% block body %}

<p class="h1">Erreur 404</p>
    <main class="container">
        <section class="row">
            <div class="col-12">
                <p class="h1">Page non trouvée</p>
                <p class="h2"></p>
            </div>
    </section>
    </main>
{% endblock %}